__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
.env
.venv/
venv/
*.parquet
data/pulls/
data/factors/
*.ipynb_checkpoints
.DS_Store

# PDFs — tracked locally, not in repo (copyright + binary)
papers/*.pdf
